body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#produtosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    border: 1px solid #aa0c7d;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.produto img {
    max-width: 100px;
    height: auto;
}

.produto.cards {
    width: 200px;
    color: #aa0c7d;
}

.produto.lista {
    width: 100%;
    display: flex;
    align-items: center;
    color: #aa0c7d;
}

.produto.lista img {
    margin-right: 20px;
}